<div>
  <%= form_with url: chefs_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a chef"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="Header text-center">
<h3></h3>
</div class>
<div class= "container">
<div class="cards">
<% @chefs.each do |chef| %>
  <div class="card" style="width: 18rem;">
    <% link_to chef_path(chef) %>
      <img src="https://playswellwithbutter.com/wp-content/uploads/2020/12/Individual-Beef-Wellington-27.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= chef.user.first_name %></h5>
          <p class="card-text"><%= chef.cuisine %></p>
          <%= link_to "View Profile", chef_path(chef), class: "btn btn-primary stretched-link"%>
       </div>
  <% end %>
      </div>
    </div>
    </div>



<%# <ul>
<% @chefs.each do |chef| %>
<%# <li><%= chef.details <%= chef.cuisine %>
 <%# <%= link_to("Chef profile", chef_path(chef)) %>
 <%# </li> %>
<%# <% end %>
<%# </ul> %>
