<div class="chef-banner text-center">
  <%# <h2>I could be your private chef!</h2> %>
</div>
  <div class="text-black">
    <div class="banner-img">
      <div class="choose" ><h3>Hey <%= current_user.first_name %>, pick me to bring you culinary perfection!</h3></div>
        <div class="chef">
          <p><%= @chef.user.first_name %></p>
          <p><%= @chef.details %></p>
          <p><%= @chef.cuisine %></p>
        </div>
        <%= image_tag "https://www.hachettebookgroup.com/wp-content/uploads/2017/06/GR.jpg?resize=500%2C700", class: "avatar1", alt: "avatar" %>
      </div>
    </div>
     <%= link_to "Book Now",    new_chef_booking_path(@chef), class: "btn btn-primary" %>

  </div>


<%#
<div class="buttons text-center">
<%= link_to "Delete",
chef_path(@chef), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%# <%= link_to "Edit",
  edit_chef_path(@chef)
%>
<%#
<%= link_to "New",
  new_chef_path(@chef)
%>
<%# </div> %>
