<div class="whole-page border border-dark text-black">
  <div class="container">
    <div class="d-grid gap-5">
      <div class="choose text-center"><h2> Welcome! </h2></div>
      <div class="grid-1">
        <div id="carouselExampleControls" class="carousel slide bg-dark " data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @images[(@chef.id - 1)].each_with_index do |image, index|%>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <img src="<%= image %>" class="d-block m-auto" width= "600" height="400" alt="...">
                </div>
              <% else %>
                <div class="carousel-item">
                  <img src="<%= image %>" class="d-block m-auto" width= "600" height="400" alt="...">
                </div>
              <% end %>
            <% end %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
</div>
</div>
        <div class="chef-pic-row">
          <div class="content-bg-dark pt-10 pt-90 text-center mt-2">
          <p>Hi, my name is <%= @chef.user.first_name %>. I've worked in the culinary industry for many years.
          I am passionate about bringing delicious <%=@chef.cuisine %> food to your table.</p>
          <p>A little more about me:
          <p><%= @chef.details %>. </p>
          <%if user_signed_in? %>
            <%= link_to "Book #{@chef.user.first_name}", new_chef_booking_path(@chef), class: "btn btn-dark btn-lg border-white" %>
        </div>
        <% else %>
            <%= link_to "Book #{@chef.user.first_name}", new_user_registration_path, class: "btn btn-dark btn-lg border-white" %>
        <% end %>
        </div>
          </div>
          </div>
        </div>
      </div>

      <div class="grid-2">
        <div class="content pt-10 pt-90 text-left mt-4">
          <h5>&nbsp;&nbsp;&nbsp;   Hello, my name is <%= @chef.user.first_name %>. I've worked in the culinary industry for many years. Every morning I wake up with the hunger to be better. Food is, perhaps, the greatest love of my life.
          I am passionate about bringing delicious <%=@chef.cuisine %> food to your table. <%= @chef.details %>. I'll leave you with this, "Food is symbolic of love when words inadequate.” I would be delighted to show you my craft.</h5>
        </div>
      </div>
      <div class="grid-3 text-center mb-5">
        <%= link_to "Book Chef #{@chef.user.first_name}", new_chef_booking_path(@chef), class: "btn btn-dark btn-lg border-white mb-2" %>
      </div>
    </div>
  </div>
</div>






<%#
<div class="buttons text-center">
<%= link_to "Delete",
chef_path(@chef), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%# <%= link_to "Edit",
  edit_chef_path(@chef)
  %>

<%# <%= link_to "New",
  new_chef_path(@chef)
%>
 <%# %>
