<div class="l-20px"><h1>Welcome, <%= @user.first_name%>!</h1>
  <h5>Your upcoming bookings:<h5>
</div>

<div class="card-product">
    <ol>
      <% current_user.bookings.each do |b| %>
        <li>
        <p>Chef <%= b.chef.user.first_name %></p>
        <p>Details: <%= b.description %></p>
        <p>Date: <%= b.booking_time %></p>
        </li>
        <p><%= link_to "Cancel booking", booking_path(b), class: "btn border border-grey", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      <% end %>
    </ol>
    </div>
  </div>
</div>
